name: Check

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  checks: write
  pull-requests: write
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Run checks
        run: ./gradlew check jacocoTestReport

      - name: Test Report
        if: always()
        uses: dorny/test-reporter@v2
        with:
          name: Test Results
          path: build/test-results/test/*.xml
          reporter: java-junit

      - name: Coverage Report
        if: always() && github.event_name == 'pull_request'
        uses: madrapps/jacoco-report@v1.7.2
        with:
          paths: build/reports/jacoco/test/jacocoTestReport.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          min-coverage-overall: '80'
          min-coverage-changed-files: '80'
          title: Coverage Report
          update-comment: true

      - name: Upload Test Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: build/reports/tests/test/
          retention-days: 14

      - name: Upload Coverage Report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: build/reports/jacoco/test/html/
          retention-days: 14
